.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 231, 231);
  position: sticky;
  top:0;
  z-index: 100;
  height:75px;

}
.header__left{
    margin-left: 10px;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    height: 50px
}

.header__inputButton {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: grey;
    height: 35px !important;
    margin-top: 5px
}

.header__icons {
    display: flex;
    align-items: center;
    height: 50px;
}
.header__icon {
    margin-right: 8px;
    height: 30px;
}

.header__input > input {
    flex: 1;
    border: none;
    height: 30px;
    padding-left: 10px;
}